/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 8, 2014, 3:49:21 PM
    Author     : lipu
*/

/* Get rid of default padding and margin*/

*{
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}

/* Html5  */
header,nav,article,section,footer,aside{
    display: block;
}

/* Centering website */
.contanier{
    width: 1000px;
    margin: 0px auto;
}

.logo{
    width:195px;
    height: 70px;
    float: left;
}

.top_nav{
    float: left;
    width: 805px;
}

.top_nav ul li{    
    float: left;
    padding: 24px 25px;
    /*display: inline-block;*/
}

.clearpx{
    clear: both;
}

/*Float aside and main section*/
.left_side{
    float: left;
    width: 700px;   
}

.left_side article{
    border: 2px solid blue;
    margin-right: 10px;
    padding: 10px; 
}

.right_side{
    float: left;
    width: 300px;    
}

.right_side div{
    border: 2px solid green;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

/*Make footer clear floated element*/
.page_footer{
    clear: both;
    text-align: center;
}